{% extends 'core/base.html' %}
{% block title %} ToDo | Add {% endblock title %}

{% block content %} 

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

<!-- <form method="POST">
    {% csrf_token %}
    {{form}}

    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
{% endblock content %}